*
  font-family: 'Roboto', sans-serif
  font-weight: 400

body
  text-align: center
  color: red
  filter: grayscale(50%)

  +tablet()
    color: yellow
  //https://github.com/jenius/rupture#tablet
  +desktop()
    color: blue
  //https://github.com/jenius/rupture#desktop
